<!-- Preloader -->
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"
        ><i class="fas fa-bars"></i
      ></a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto  ">
    <li> <p class="text-center" style="     margin-left: 30px;
      font-size: 18px;
      font-style: italic;">shivalik senior secondary school jalalabad</p></li>
  </ul>
 
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
   
    <li class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
  </ul>
</nav>

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <div class="sidebar">
 
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="\assets\Home\shivalik.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" class="d-block" style="font-size: 17px; color: white"
          >Shivalik | Admin</a
        >
      </div>
    </div>
<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
          Dashboard
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/importantlink" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Importantlink</p>
          </a>
        </li>
      </ul>
    </li>

<li class="nav-item">
      <a href="#" class="nav-link">
        <!--<i class="nav-icon fas fa-tachometer-alt"></i>
  <i class="nav-icon fas fa-user-friends"></i>-->
  <i class="nav-icon fas fa-home"></i>
        <p>
          Home
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview" style="display: none;">
        <li class="nav-item">
          <a routerLink="/slider" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Slider</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/announcement" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Announcement</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/notification" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Notice Board</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/home-about" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Home About</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/quotes" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Quotes</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/video" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Video</p>
          </a>
        </li>
  <!--li class="nav-item">
          <a routerLink="hadmastermessage.php" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Hadmaster Message</p>
          </a>
        </li-->
  <li class="nav-item">
          <a routerLink="/our-mission" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Our Mission</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/our-vision" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Our Vision</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/our-motto" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Our Motto</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/today-birthday" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Today Birthday</p>
          </a>
        </li>
      </ul>
    </li>

<li class="nav-item">
      <a href="#" class="nav-link">
        <!--<i class="nav-icon fas fa-tachometer-alt"></i>
  <i class="nav-icon fas fa-user-friends"></i>-->
  <i class="nav-icon fas fa-address-card"></i>
        <p>
          About
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview" style="display: none;">
        <li class="nav-item">
          <a routerLink="/about-lips" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>About Shivalik</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/visionand-mission" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Vission &amp; Mission</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/ceomessage" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>CEO Message</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/chairman-message" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Chairman Message</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/principal-message" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Principal Message</p>
          </a>
        </li>
      </ul>
    </li>

<li class="nav-item">
      <a href="#" class="nav-link">
        <!--<i class="nav-icon fas fa-tachometer-alt"></i>
  <i class="nav-icon fas fa-user-friends"></i>-->
  <i class="nav-icon fas fa-user-graduate"></i>
        <p>
          Admission
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/admission-procedure" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Admission Procedure</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/prospectus" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Prospectus</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/why-lips" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Why Shivalik</p>
          </a>
        </li>
      </ul>
    </li>

<li class="nav-item">
      <a href="#" class="nav-link">
        <!--<i class="nav-icon fas fa-tachometer-alt"></i>
  <i class="nav-icon fas fa-user-friends"></i>-->
  <i class="nav-icon fas fa-fan"></i>
        <p>
          Facilities
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview" style="display: none;">
        <li class="nav-item">
          <a routerLink="/preprimary-block" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Preprimary Block</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/smart-class" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Smart Class</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/library" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Library</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/computer-lab" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Computer Lab</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/physics-lab" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Physics Lab</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/chemistry-lab" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Chemistry Lab</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/biology-lab" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Biology Lab</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/sports-games" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Sports &amp; Games</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/transport" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Transport</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/health-medicine" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Health &amp; Medicine</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/conference-hall" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Conference Hall</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/shooting-range" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Shooting Range</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/interhouse-competition" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Interhouse Competition</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/cctvsceurity" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>CCTV Sceurity</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/doctorson-campous" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Doctors on Campous</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/professional-security" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Professional Security</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/security-inside-campous" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Security Inside Campous</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/dance-room" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Dance Room </p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/music-room" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Music Room </p>
          </a>
        </li>
      </ul>
    </li>

<li class="nav-item">
      <a href="#" class="nav-link">
        <!--<i class="nav-icon fas fa-tachometer-alt"></i>
  <i class="nav-icon fas fa-user-friends"></i>-->
  <i class="nav-icon fas fa-fan"></i>
        <p>
          Academic
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/sachalaction" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Sachalaction</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/list-of-holidays" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>List of Holidays</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/acadmic-exam" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Acadmic Exam</p>
          </a>
        </li>
<li class="nav-item">
          <a routerLink="/school-uniform" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>School Uniform</p>
          </a>
</li>
<li class="nav-item">
          <a routerLink="/listof-books" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>List of Books</p>
          </a>
        </li>
<li class="nav-item">
          <a routerLink="/news-letters" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>News Letters</p>
          </a>
        </li>
  
      </ul>
    </li>
<li class="nav-item">
      <a href="#" class="nav-link">
        <!--<i class="nav-icon fas fa-tachometer-alt"></i>
  <i class="nav-icon fas fa-user-friends"></i>-->
  <i class="nav-icon fas fa-fan"></i>
        <p>
          Downloads
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/download-files" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Download Files</p>
          </a>
        </li>
  <!--<li class="nav-item">
          <a routerLink="studentlist.php" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Student List</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="feelist.php" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Fee List</p>
          </a>
        </li>
<li class="nav-item">
          <a routerLink="annualreport.php" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Annual Report</p>
          </a>
</li>
<li class="nav-item">
          <a routerLink="transfercertificate.php" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Transfer Certificate</p>
          </a>
        </li> -->			  
      </ul>
    </li>

<li class="nav-item">
      <a href="#" class="nav-link">
        <!--<i class="nav-icon fas fa-tachometer-alt"></i>
  <i class="nav-icon fas fa-user-friends"></i>-->
  <i class="nav-icon fas fa-fan"></i>
        <p>
          Image Gallery
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/add-image-cartegory" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Add Image Cartegory</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/add-image" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Add Image</p>
          </a>
        </li>
  <li class="nav-item">
          <a routerLink="/video-gallery" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Video Gallery</p>
          </a>
        </li>
  
      </ul>
    </li>

<li class="nav-item">
      <a href="#" class="nav-link">
        <!--<i class="nav-icon fas fa-tachometer-alt"></i>
  <i class="nav-icon fas fa-user-friends"></i>-->
  <i class="nav-icon fas fa-fan"></i>
        <p>
          Archivements
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/our-achivements" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Our Archivements</p>
          </a>
        </li>			  
      </ul>
    </li>

<li class="nav-item" style="display:none;">
      <a href="#" class="nav-link">
        <!--<i class="nav-icon fas fa-tachometer-alt"></i>-->
  <i class="nav-icon fas fa-fan"></i>
        <p>
          Popup Banner  
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/modal" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Add Popup Banner</p>
          </a>
        </li>
      </ul>
    </li>

<li class="nav-item">
      <a href="#" class="nav-link">
        <!--<i class="nav-icon fas fa-tachometer-alt"></i>-->
  <i class="nav-icon fas fa-fan"></i>
        <p>
          Career
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/career-table" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Career Table</p>
          </a>
        </li>
      </ul>
    </li>

<li class="nav-item">
      <a href="#" class="nav-link">
        <!--<i class="nav-icon fas fa-tachometer-alt"></i>-->
  <i class="nav-icon fas fa-fan"></i>
        <p>
          Contact Us
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/contact-us-table" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Contact Us Table</p>
          </a>
        </li>
      </ul>
    </li>

<li class="nav-item">
      <a href="#" class="nav-link">
        <!--<i class="nav-icon fas fa-tachometer-alt"></i>-->
  <i class="nav-icon fas fa-sign-out-alt"></i>
        <p>
          Logout
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/logout" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </li>
  </ul>

</nav>

















