<app-header></app-header>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Gallery</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Gallery</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Gallery</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <!-- <form [formGroup]="galleryForm" (ngSubmit)="sumbitGalleryForm()">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Uplaod</label>
                  <i class="fa fa-upload" aria-hidden="true"></i>
                  <br>
                  <input type="file" (change)="getFile($event)"  id="Notice"
                    placeholder="Enter Notice">
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn  btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div> -->
          <!-- /.card -->
        <!-- </div>
      </div>
    </div> -->
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Gallery Record</h3>
              </div> -->
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr style="text-align: center;">
                      <th>Sr.No.</th>
                      <th>Image</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td style="text-align: center;"> </td>
                      <td><button type="button" class="btn btn-danger"> <i
                            class="fa fa-trash"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>

             

            

          </div>
              <!-- /.card-body
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
 
      <!-- /.container-fluid -->
      <!-- <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="pagination-area" style="text-align:center">

            <pagination-controls id="list_pagination"  (pageChange)="page = $event"></pagination-controls></div>
          </div>
    </section> -->
    <!-- /.content -->
<app-footer></app-footer>
