<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Add Our Vision</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="index.php">Home</a></li>
            <li class="breadcrumb-item active">Add Our Vision</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column 
		  <div class="col-md-2"></div>-->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h3>Add Our Vision</h3>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form method="post" id="myform" action="#">
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <label>Title</label>
                    <input
                      class="form-control"
                      type="text"
                      name="title"
                      id="title"
                    />
                  </div>
                  <div class="col-md-4"></div>
                </div>
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <label>Content</label>
                    <input
                      class="form-control"
                      type="text"
                      name="content"
                      id="content"
                    />
                  </div>
                  <div class="col-md-4"></div>
                </div>

                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <label>Date</label>
                    <input
                      class="form-control"
                      type="date"
                      name="date"
                      id="date"
                    />
                  </div>
                  <div class="col-md-4"></div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      class="btn btn-primary btn-block"
                      value="Submit"
                    />
                  </div>
                </div>
              </form>
            </div>
            <!--<div class="card-footer"></div>-->
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <!-- Main content -->

  <!-- DataTable Content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Our Vision Table :</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
