<!-- <app-header></app-header>
<div class="content-wrapper"> -->
    <!-- Content Header (Page header) -->
    <!-- <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Admission Record</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Admission Record</li>
                    </ol>
                </div>
            </div> -->
        <!-- </div>/.container-fluid -->
    <!-- </section> -->
    <!-- Main content -->
    <!-- <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Admisions Record</h3>
                        </div> -->
                        <!-- /.card-header -->
                        <!-- <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>Student Name</th>
                                        <th>Father Name</th>
                                        <th>Mother Name</th>
                                        <th>Adhaar No.</th>
                                        <th>D.O.B</th>
                                        <th>Phone No.</th>
                                        <th>Relegion</th>
                                        <th>Caste Category</th>
                                        <th>Email</th>
                                        <th>Contact No.</th>
                                        <th>District</th>
                                        <th>Address</th>
                                        <th>Previous School</th>
                                        <th>Previous Class</th>
                                        <th>Apply Class</th>
                                        <th>Sports</th>
                                        <th>Gender</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of admissiondData| paginate:{id:'list_pagination',
                                    itemsPerPage:5,
                                    currentPage:page,
                                    totalItems:totalRecords
                                     },let b=index">
                                     
                                        <td>{{b+1}}</td>
                                        <td>{{a.stuName}}</td>
                                        <td>{{a.fatherName}}</td>
                                        <td>{{a.motheName}}</td>
                                        <td>{{a.adhaarNo}}</td>
                                        <td>{{a.DOB}}</td>
                                        <td>{{a.phoneNo}}</td>
                                        <td>{{a.religion}}</td>
                                        <td>{{a.casteCategory}}</td>
                                        <td>{{a.email}}</td>
                                        <td>{{a.contactNo}}</td>
                                        <td>{{a.district}}</td>
                                        <td>{{a.address}}</td>
                                        <td>{{a.previousSchool}}</td>
                                        <td>{{a.previousClass}}</td>
                                        <td>{{a.applyClass}}</td>
                                        <td>{{a.sports}}</td>
                                        <td>{{a.gender}}</td>
                                        <td><button type="button" class="btn btn-danger"
                                                (click)="deleteAdmission(a.id)"> <i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="pagination-area" style="text-align:center">
        
                <pagination-controls id="list_pagination"  (pageChange)="page = $event"></pagination-controls></div>
         </div>

    </section>
</div>

<app-footer></app-footer> -->