/* .card{
    padding: 50px;
   
}

.card:hover{
    transform:scale(1.02);
    box-shadow: 5px 10px 8px 10px #e2eaf8;
}
.txt{
    color:rgb(179, 25, 25);
    text-shadow: 2px 2px 5px rgb(241, 236, 236);    text-align: center;
    font-size: 80px;
}
.back{
    background-image: linear-gradient(to right, rgb(14, 214, 250) , rgb(47, 0, 255));
    height: 630px;
} */


/* .card-header a h2{
   background-color: #009688;
   color:#fff;
   padding: 10px 0px;
   font-family: fangsong;
}
.card-body h5{
    padding: 0px 0px 19px 0px;
    font-family: fangsong;
}
.btn{
    background-color: #33b249;
    border: none;
    border-radius: 5px ;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-family: fangsong;
} */